nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.admin-controls-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
}

.admin-table-container {
  width: 100%;
}

.admin-table {
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.admin-table th {
  background-color: #4709c3;
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  border: none;
}

.admin-table td {
  padding: 12px;
  text-align: center;
  border: none;
  vertical-align: top;
}

.admin-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table tr:hover {
  background-color: #f1f1f1;
}

.button:hover {
  color: #fafbfb;
}

.button-delete {
  background-color: #ff4d4d;
  color: #fafbfb;
}

.button-delete:hover {
  background-color: #ff1a1a;
}

.button-edit {
  background-color: #4169e1;
  color: #fafbfb;
}

.button-cancel {
  background-color: #828282;
  color: #fafbfb;
}

.button-create {
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #828282;
  color: #fafbfb;
}

.button-edit,
.button-delete,
.button-create {
  margin-right: 10px;
}

.statistics-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.statistics-card {
  flex: 1 1 45%;
  box-sizing: border-box;
  max-width: 45%;
}
.statistics-card .h2,
.statistics-card .h3 {
  text-align: center;
}
.statistics-card p {
  height: auto;
}

@media (max-width: 768px) {
  .statistics-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
