html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  display: flex;
  flex-direction: column;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  flex: 1;
}

.h1 {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 60px;
}

.h2 {
  text-transform: initial;
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.h3 {
  text-transform: initial;
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.h4 {
  text-transform: initial;
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.wh {
  color: #fafbfb;
}

header {
  margin: 0;
  padding: 20px;
  background-color: #4709c3;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-right: 50px;
  font-size: 28px;
  color: #fafbfb;
  align-items: center;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
}

nav a:hover {
  color: #ff9640;
}

nav li {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0 30px 0 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: #ff9640;
}

.back-header {
  position: relative;
  overflow: hidden;
}

.img-back {
  width: 100%;
  height: 50%;
  position: relative;
  object-fit: contain;
}

.toggle-menu-button {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  --swiper-theme-color: #fdad00;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.light-text {
  color: #ff9640;
}

.button {
  background-color: #f9fafa;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  max-width: 100%;
  border-radius: 5px;
  border-style: none;
  color: #000;
}

.button:hover {
  color: #4409b9;
  scale: 1.05;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.submit-button {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ff9640;
  color: #fafbfb;
}

.submit-button:hover {
  color: #fafbfb;
}

.horizontal-center-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.vertical-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 30%;
  max-width: 80%;
  padding: 30px;
  border-radius: 5px;
  height: 100%;
}

.form-title {
  font-size: 24px;
  font-weight: 550;
}

.form-input {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #dcddde;
  margin-top: 15px;
  background: #f4f5f5;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
}

.form-input::placeholder {
  color: #000;
}

.form-input:focus {
  border-color: #ff9640;
  background-color: #fff;
}

.search-input {
  width: fit-content;
  border-radius: 6px;
  border: 2px solid #dcddde;
  background: url(assets/loupe-search.svg) no-repeat 10px center;
  background-size: auto 45%;
  padding-left: 50px;
  box-sizing: border-box;
  color: #fff;
}

.search-input::placeholder {
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container button {
  flex: 1;
  margin: 0 10px;
}

.button-container button:first-child {
  margin-left: 0;
}

.button-container button:last-child {
  margin-right: 0;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
}

.logout-button svg {
  width: 48px;
  height: 48px;
}

.logout-button:hover svg path {
  fill: #ff9640;
}

.promotions-section {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #f6f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotions-carousel {
  display: flex;
  padding-top: 40px;
  overflow: hidden;
  width: 80%;
  max-width: 1200px;
  position: relative;
}

.promotion-card {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-sizing: border-box;
}

.promotion-card img {
  border-radius: 5px 5px 0 0;
}

.promotion-card-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.promotion-price-request {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.promotion-request {
  display: flex;
  color: #0074d9;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}

.promotion-price {
  display: flex;
  gap: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.promotion-card:hover .promotion-request {
  transition: all 0.3s ease-out;
  gap: 0;
}

.carousel-indicator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.carousel-indicator div {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicator .active {
  background-color: #4709c3;
}

.team-section {
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-block {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin-bottom: 60px;
}

.team-card {
  background-color: #feffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(33% - 40px);
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  overflow: hidden;
  position: relative;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card-image {
  position: relative;
}

.team-card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
  display: block;
}

.social-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.social-icons img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-out;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.team-card-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  flex-grow: 1;
}

.team-role {
  color: #666;
}

.team-bio {
  color: #777;
}

.team-quote {
  font-style: italic;
  color: #555;
  border-left: 4px solid #4709c3;
  padding-left: 10px;
  margin-top: auto;
}

.faq-section {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #f6f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-block {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  gap: 20px;
  max-width: 80%;
  margin-bottom: 60px;
}

.faq-item {
  background-color: #feffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: height 0.3s ease-out, border-radius 0.3s ease-out;
}

.faq-question {
  font-size: 18px;
  color: #333;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.faq-question::after {
  content: "+";
  font-size: 24px;
  color: #4709c3;
  transition: transform 0.3s ease-out;
}

.faq-item.open .faq-question::after {
  content: "-";
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 20px;
  background-color: #f9f9f9;
}

.faq-item.open .faq-answer {
  padding: 20px;
  max-height: 100px;
  border-top: 1px solid #ddd;
}

.site-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

@media (max-width: 1200px) {
  nav li {
    font-size: 14px;
  }

  .team-card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 992px) {
  nav li {
    font-size: 12px;
  }

  .team-card {
    width: calc(100% - 40px);
  }
}

@media (max-width: 768px) {
  nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
  }

  nav li {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 14px;
  }

  .toggle-menu-button {
    display: flex;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    position: none;
  }

  .h1 {
    font-size: 40px;
  }
  .h2 {
    font-size: 18px;
  }

  .h3 {
    font-size: 16px;
  }

  .h4 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 14px;
  }

  .h3 {
    font-size: 12px;
  }
  .h4 {
    font-size: 10px;
  }
}
