<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Создать пользователя</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/admin.css" />
  </head>
  <body>
    <header>
      <div class="logo">ReqAuto</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Главная</a></li>
          <li>
            <a href="{{ url_for('admin_dashboard') }}" class="active"
              >Пользователи</a
            >
          </li>
          <li><a href="#">Статистика</a></li>
          <li>
            <form
              action="{{ url_for('logout') }}"
              method="post"
              class="logout-form"
            >
              <button type="submit" class="logout-button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="#ffffff"
                    d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"
                  />
                </svg>
              </button>
            </form>
          </li>
        </ul>
      </nav>
      <button class="toggle-menu-button">☰</button>
    </header>
    <main>
      <section class="horizontal-center-container">
        <form class="form" method="POST">
          <input
            class="form-input h3"
            type="text"
            name="firstName"
            placeholder="Имя"
            required
          />
          <input
            class="form-input h3"
            type="text"
            name="lastName"
            placeholder="Фамилия"
            required
          />
          <input
            class="form-input h3"
            type="text"
            name="patronymic"
            placeholder="Отчество"
          />
          <input
            class="form-input h3"
            type="text"
            name="phone"
            placeholder="Телефон"
            required
          />
          <select class="form-input h3" id="roleID" name="roleID" required>
            {% for role in roles %}
            <option value="{{ role.ID }}">{{ role.roleName }}</option>
            {% endfor %}
          </select>
          <input
            class="form-input h3"
            type="text"
            name="username"
            placeholder="Логин"
            required
          />
          <input
            class="form-input h3"
            type="password"
            name="password"
            placeholder="Пароль"
            required
          />
          <div class="button-container" style="margin-top: 10px">
            <button class="button h3 submit-button" type="submit">
              Создать
            </button>
            <button class="button h3 submit-button">
              <a
                href="{{ url_for('admin_dashboard') }}"
                class="no-link-style"
                style="display: block; width: 100%; height: 100%"
                >Назад</a
              >
            </button>
          </div>
        </form>
      </section>
    </main>
    <footer class="site-footer">
      <p class="h3">&copy; 2025 Евгений Нечаев. Все права защищены.</p>
    </footer>
    <script src="static/header.js" defer></script>
  </body>
</html>
