<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReqAuto</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function checkSessionAndRedirect() {
        fetch("/check-session", {
          method: "POST",
          credentials: "same-origin",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.authenticated) {
              if (data.role === "Администратор") {
                window.location.href = "/admin_dashboard";
              } else if (data.role === "Оператор") {
                window.location.href = "/clients_requests";
              } else if (data.role === "Механик") {
                window.location.href = "/mechanic_dashboard";
              } else if (data.role === "Клиент") {
                window.location.href = "/profile";
              }
            } else {
              window.location.href = "/auth";
            }
          });
      }
    </script>
  </head>
  <body>
    <header>
      <div class="logo">ReqAuto</div>
      <nav>
        <ul>
          <li><a href="#" class="active">Главная</a></li>
          <li><a href="#promotions-section">Акции</a></li>
          <li><a href="#form">Записаться</a></li>
          <li><a href="#faq-section">FAQ</a></li>
          <li><a onclick="checkSessionAndRedirect()">Профиль</a></li>
        </ul>
      </nav>
      <button class="toggle-menu-button">☰</button>
    </header>
    <main>
      <section class="back-header">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-text-container">
                <p class="h1 wh">Ремонт</p>
                <p class="h1 light-text">Авто</p>
                <p class="h2 wh" style="margin-top: 10px">
                  Диагностика и техническое обслуживание автомобилей
                </p>
                <button class="button h3" style="margin-top: 20px">
                  <a href="#form" class="no-link-style">Записаться</a>
                </button>
              </div>
              <img src="/static/assets/car.png" alt="" class="img-back" />
            </div>
            <div class="swiper-slide">
              <div class="swiper-text-container">
                <p class="h1 wh">Акции</p>
                <p class="h1 light-text">и Скидки</p>
                <p class="h2 wh" style="margin-top: 10px">
                  Специальные предложения на ремонт и обслуживание автомобилей
                </p>
              </div>
              <img src="/static/assets/car.png" alt="" class="img-back" />
            </div>
            <div class="swiper-slide">
              <div class="swiper-text-container">
                <p class="h1 wh">Товары</p>
                <p class="h1 light-text">для Авто</p>
                <p class="h2 wh" style="margin-top: 10px">
                  Широкий ассортимент запчастей и автохимии по выгодным ценам
                </p>
              </div>
              <img src="/static/assets/car.png" alt="" class="img-back" />
            </div>
          </div>
          <button class="swiper-button-prev"></button>
          <button class="swiper-button-next"></button>
        </div>
      </section>
      <section class="team-section" id="team-section">
        <p class="h1">Наша команда</p>
        <div class="team-block">
          <div class="team-card">
            <div class="team-card-image">
              <img src="/static/assets/team-1.jpg" alt="Team Member 1" />
              <div class="social-icons">
                <a href="#"><img src="/static/assets/vk.png" alt="VK" /></a>
                <a href="#"
                  ><img src="/static/assets/telegram.png" alt="Telegram"
                /></a>
                <a href="#"
                  ><img src="/static/assets/twitter.png" alt="Twitter"
                /></a>
              </div>
            </div>
            <div class="team-card-text">
              <p class="h3">Иван Иванов</p>
              <p class="h3 team-role">Главный механик</p>
              <p class="h4 team-bio">
                Специалист с 10-летним опытом в ремонте автомобилей. Любит
                сложные задачи и всегда готов помочь.
              </p>
              <blockquote class="team-quote">
                "Качество ремонта — наша главная цель."
              </blockquote>
            </div>
          </div>
          <div class="team-card">
            <div class="team-card-image">
              <img src="/static/assets/team-2.jpg" alt="Team Member 2" />
              <div class="social-icons">
                <a href="#"><img src="/static/assets/vk.png" alt="VK" /></a>
                <a href="#"
                  ><img src="/static/assets/telegram.png" alt="Telegram"
                /></a>
                <a href="#"
                  ><img src="/static/assets/twitter.png" alt="Twitter"
                /></a>
              </div>
            </div>
            <div class="team-card-text">
              <p class="h3">Анна Петрова</p>
              <p class="h3 team-role">Менеджер по работе с клиентами</p>
              <p class="h4 team-bio">
                Обеспечивает высокий уровень обслуживания и всегда на связи с
                клиентами.
              </p>
              <blockquote class="team-quote">
                "Ваше удовлетворение — наша приоритетная задача."
              </blockquote>
            </div>
          </div>
          <div class="team-card">
            <div class="team-card-image">
              <img src="/static/assets/team-3.jpg" alt="Team Member 3" />
              <div class="social-icons">
                <a href="#"><img src="/static/assets/vk.png" alt="VK" /></a>
                <a href="#"
                  ><img src="/static/assets/telegram.png" alt="Telegram"
                /></a>
                <a href="#"
                  ><img src="/static/assets/twitter.png" alt="Twitter"
                /></a>
              </div>
            </div>
            <div class="team-card-text">
              <p class="h3">Сергей Сидоров</p>
              <p class="h3 team-role">Старший специалист по диагностике</p>
              <p class="h4 team-bio">
                Эксперт в диагностике автомобилей с использованием новейших
                технологий.
              </p>
              <blockquote class="team-quote">
                "Точность и профессионализм — залог нашего успеха."
              </blockquote>
            </div>
          </div>
        </div>
      </section>

      <section class="promotions-section" id="promotions-section">
        <p class="h1">Акции</p>
        <div class="promotions-carousel" id="promotionsCarousel">
          <div class="promotion-card">
            <img
              src="/static/assets/promotion.png"
              alt="promotion"
              draggable="false"
            />
            <div class="promotion-card-text">
              <p class="h3">Скидка 20% в день рождения</p>
              <p class="h4">Спешите! Акция действует только в этом месяце.</p>
              <div class="promotion-price-request">
                <div class="promotion-price">
                  <p class="h4 old-price">2000 р.</p>
                  <p class="h3 title-color">1600 р.</p>
                </div>
                <div class="promotion-request">
                  <p class="h4">Оставить заявку</p>
                  <img
                    src="/static/assets/arrow-narrow-right.png"
                    alt="arrow-narrow-right"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="promotion-card">
            <img
              src="/static/assets/promotion.png"
              alt="promotion"
              draggable="false"
            />
            <div class="promotion-card-text">
              <p class="h3">Скидка 20% в день рождения</p>
              <p class="h4">Спешите! Акция действует только в этом месяце.</p>
              <div class="promotion-price-request">
                <div class="promotion-price">
                  <p class="h4 old-price">2000 р.</p>
                  <p class="h3 title-color">1600 р.</p>
                </div>
                <div class="promotion-request">
                  <p class="h4">Оставить заявку</p>
                  <img
                    src="/static/assets/arrow-narrow-right.png"
                    alt="arrow-narrow-right"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="promotion-card">
            <img
              src="/static/assets/promotion.png"
              alt="promotion"
              draggable="false"
            />
            <div class="promotion-card-text">
              <p class="h3">Скидка 20% в день рождения</p>
              <p class="h4">Спешите! Акция действует только в этом месяце.</p>
              <div class="promotion-price-request">
                <div class="promotion-price">
                  <p class="h4 old-price">2000 р.</p>
                  <p class="h3 title-color">1600 р.</p>
                </div>
                <div class="promotion-request">
                  <p class="h4">Оставить заявку</p>
                  <img
                    src="/static/assets/arrow-narrow-right.png"
                    alt="arrow-narrow-right"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-indicator" id="carouselIndicator"></div>
      </section>
      <section class="horizontal-center-container" id="form">
        <form class="form" action="/submit" method="post">
          <label class="h1 form-title">Онлайн-запись</label>
          <input
            class="form-input h3"
            type="text"
            id="firstName"
            name="firstName"
            style="margin-top: 25px"
            value="{{ user_data.firstName if user_data else '' }}"
            placeholder="Имя"
            required
          /><br />
          <input
            class="form-input h3"
            type="text"
            id="lastName"
            name="lastName"
            value="{{ user_data.lastName if user_data else '' }}"
            placeholder="Фамилия"
            required
          /><br />
          <input
            class="form-input h3"
            type="text"
            id="phone"
            name="phone"
            value="{{ user_data.phone if user_data else '' }}"
            placeholder="Телефон"
            required
          /><br />
          <select
            class="form-input h3"
            id="carMake"
            name="carMake"
            required
            onchange="updateModels()"
          >
            <option value="">Выберите марку</option>
            {% for make in car_makes %}
            <option value="{{ make.ID }}">{{ make.carMake }}</option>
            {% endfor %}
            <option value="">Прочее...</option></select
          ><br />
          <select class="form-input h3" id="carModel" name="carModel" required>
            <option value="">Выберите модель</option>
            <option value="">Прочее...</option></select
          ><br />
          <textarea
            class="form-input h3"
            id="defectsDescription"
            name="defectsDescription"
            placeholder="Описание проблемы"
            required
          ></textarea
          ><br />
          <button class="button submit-button h3" type="submit">
            Отправить заявку
          </button>
        </form>
      </section>
      <section class="faq-section" id="faq-section">
        <p class="h1">Часто задаваемые вопросы (FAQ)</p>
        <div class="faq-block">
          <div class="faq-item">
            <p class="faq-question h3">Как записаться на ремонт?</p>
            <div class="faq-answer h4">
              <p>
                Вы можете записаться на ремонт через наш сайт, позвонив по
                телефону или посетив наш автосервис лично.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <p class="faq-question h3">
              Какие гарантии предоставляются на ремонт?
            </p>
            <div class="faq-answer h4">
              <p>
                Мы предоставляем гарантию на все виды ремонта. Подробности можно
                уточнить у наших специалистов.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <p class="faq-question h3">Какие способы оплаты доступны?</p>
            <div class="faq-answer h4">
              <p>
                Мы принимаем наличные, банковские карты и бесконтактные платежи.
              </p>
            </div>
          </div>
          <div class="faq-item">
            <p class="faq-question h3">Как узнать стоимость ремонта?</p>
            <div class="faq-answer h4">
              <p>
                Стоимость ремонта зависит от сложности работы. Вы можете
                получить предварительную оценку у наших специалистов.
              </p>
            </div>
          </div>
        </div>
      </section>

      <div id="errorModal" class="modal h2">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="errorMessage"></p>
        </div>
      </div>
    </main>
    <footer class="site-footer">
      <p class="h3">&copy; 2025 Евгений Нечаев. Все права защищены.</p>
    </footer>
    <script src="static/header.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="static/updateModels.js" defer></script>
    <script src="/static/swiper.js"></script>
    <script src="/static/formErrorListener.js" defer></script>
    <script src="/static/carousel.js" defer></script>
    <script src="/static/faq.js" defer></script>
  </body>
</html>
